!RANCID-CONTENT-TYPE: arista
!
alias CVP ping vrf MGMT 198.18.99.90
alias M99 ping vrf MGMT 198.18.99.1
alias M98 ping vrf MGMT 198.18.98.1
alias MAC sh bgp evpn route-type mac-ip
alias PRE sh bgp evpn route-type ip-prefix ipv4

!
daemon TerminAttr
   exec /usr/bin/TerminAttr -cvaddr=198.18.99.90:9910 -cvauth=key, -cvvrf=MGMT -smashexcludes=ale,flexCounter,hardware,kni,pulse,strata -ingestexclude=/Sysdb/cell/1/agent,/Sysdb/cell/2/agent -taillogs
   no shutdown
!
vlan internal order ascending range 1006 1199
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname SJ-SPINE2
ip name-server vrf MGMT 198.18.100.160
!
ntp local-interface vrf MGMT Management1
ntp server vrf MGMT 129.6.15.28 prefer
ntp server vrf MGMT 129.6.15.29
ntp server vrf MGMT 132.163.97.4
!
spanning-tree mode none
!
no enable password
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$pwmzPZqxql2yZ.ge$Cx7b5gTa9C7go/skTK0W88zdkBxFBuAmsol.TkWcnGlpRQohUMxzzHQmIzyZ/5M8T33.qSZMFPsgMgmTzM6r01
username ansible privilege 15 role network-admin secret sha512 $6$K0SFGHUNW.al69Yo$///VGqkYDYDpUjXKFkSWa5.WVnANiBPD8d/An/HP2I/IOd6AYSXJ9VL6FrjYrwp/SLsqwZLB7KV4hB9HGAyKv.
username cvpadmin privilege 15 role network-admin secret sha512 $6$lhcX5i6a7cVCvwux$n4KM19WOV6cFG0QumteDf9A3SA.GmBJidlSuHfWd/x9KB2yEVjynw8Kr10KJFQ0eeBgBGONpdT1HzP1uGjg3C.
!
vrf instance MGMT
!
interface Ethernet1
   description P2P_LINK_TO_SJ-LEAF1_Ethernet2
   no shutdown
   mtu 1500
   no switchport
   ip address 198.18.200.10/31
!
interface Ethernet2
   description P2P_LINK_TO_SJ-LEAF2_Ethernet2
   no shutdown
   mtu 1500
   no switchport
   ip address 198.18.200.14/31
!
interface Ethernet3
   description P2P_LINK_TO_SJ-DCI1_Ethernet2
   no shutdown
   mtu 1500
   no switchport
   ip address 198.18.200.18/31
!
interface Ethernet4
   description P2P_LINK_TO_SJ-DCI2_Ethernet2
   no shutdown
   mtu 1500
   no switchport
   ip address 198.18.200.22/31
!
interface Ethernet5
   description P2P_LINK_TO_SJ-LEAF3_Ethernet2
   no shutdown
   mtu 1500
   no switchport
   ip address 198.18.200.26/31
!
interface Ethernet6
   description P2P_LINK_TO_SJ-LEAF4_Ethernet2
   no shutdown
   mtu 1500
   no switchport
   ip address 198.18.200.30/31
!
interface Loopback0
   description EVPN_Overlay_Peering
   no shutdown
   ip address 198.18.0.2/32
!
interface Management1
   description oob_management
   no shutdown
   vrf MGMT
   ip address 198.18.99.102/24
!
ip routing
no ip routing vrf MGMT
!
ip prefix-list PL-LOOPBACKS-EVPN-OVERLAY
   seq 10 permit 198.18.0.0/24 eq 32
!
ip route vrf MGMT 0.0.0.0/0 198.18.99.1
!
route-map RM-CONN-2-BGP permit 10
   match ip address prefix-list PL-LOOPBACKS-EVPN-OVERLAY
!
router bfd
   multihop interval 3600 min-rx 3600 multiplier 5
!
router bgp 65000
   router-id 198.18.0.2
   no bgp default ipv4-unicast
   distance bgp 20 200 200
   graceful-restart restart-time 300
   graceful-restart
   maximum-paths 4 ecmp 4
   neighbor EVPN-OVERLAY-PEERS peer group
   neighbor EVPN-OVERLAY-PEERS next-hop-unchanged
   neighbor EVPN-OVERLAY-PEERS update-source Loopback0
   neighbor EVPN-OVERLAY-PEERS bfd
   neighbor EVPN-OVERLAY-PEERS ebgp-multihop 3
   neighbor EVPN-OVERLAY-PEERS password 7 q+VNViP5i4rVjW1cxFv2wA==
   neighbor EVPN-OVERLAY-PEERS send-community
   neighbor EVPN-OVERLAY-PEERS maximum-routes 0
   neighbor IPv4-UNDERLAY-PEERS peer group
   neighbor IPv4-UNDERLAY-PEERS password 7 AQQvKeimxJu+uGQ/yYvv9w==
   neighbor IPv4-UNDERLAY-PEERS send-community
   neighbor IPv4-UNDERLAY-PEERS maximum-routes 12000
   neighbor 198.18.0.5 peer group EVPN-OVERLAY-PEERS
   neighbor 198.18.0.5 remote-as 65001
   neighbor 198.18.0.5 description SJ-LEAF1
   neighbor 198.18.0.6 peer group EVPN-OVERLAY-PEERS
   neighbor 198.18.0.6 remote-as 65001
   neighbor 198.18.0.6 description SJ-LEAF2
   neighbor 198.18.0.7 peer group EVPN-OVERLAY-PEERS
   neighbor 198.18.0.7 remote-as 65002
   neighbor 198.18.0.7 description SJ-DCI1
   neighbor 198.18.0.8 peer group EVPN-OVERLAY-PEERS
   neighbor 198.18.0.8 remote-as 65002
   neighbor 198.18.0.8 description SJ-DCI2
   neighbor 198.18.0.9 peer group EVPN-OVERLAY-PEERS
   neighbor 198.18.0.9 remote-as 65003
   neighbor 198.18.0.9 description SJ-LEAF3
   neighbor 198.18.0.10 peer group EVPN-OVERLAY-PEERS
   neighbor 198.18.0.10 remote-as 65003
   neighbor 198.18.0.10 description SJ-LEAF4
   neighbor 198.18.200.11 peer group IPv4-UNDERLAY-PEERS
   neighbor 198.18.200.11 remote-as 65001
   neighbor 198.18.200.11 description SJ-LEAF1_Ethernet2
   neighbor 198.18.200.15 peer group IPv4-UNDERLAY-PEERS
   neighbor 198.18.200.15 remote-as 65001
   neighbor 198.18.200.15 description SJ-LEAF2_Ethernet2
   neighbor 198.18.200.19 peer group IPv4-UNDERLAY-PEERS
   neighbor 198.18.200.19 remote-as 65002
   neighbor 198.18.200.19 description SJ-DCI1_Ethernet2
   neighbor 198.18.200.23 peer group IPv4-UNDERLAY-PEERS
   neighbor 198.18.200.23 remote-as 65002
   neighbor 198.18.200.23 description SJ-DCI2_Ethernet2
   neighbor 198.18.200.27 peer group IPv4-UNDERLAY-PEERS
   neighbor 198.18.200.27 remote-as 65003
   neighbor 198.18.200.27 description SJ-LEAF3_Ethernet2
   neighbor 198.18.200.31 peer group IPv4-UNDERLAY-PEERS
   neighbor 198.18.200.31 remote-as 65003
   neighbor 198.18.200.31 description SJ-LEAF4_Ethernet2
   redistribute connected route-map RM-CONN-2-BGP
   !
   address-family evpn
      neighbor EVPN-OVERLAY-PEERS activate
   !
   address-family ipv4
      no neighbor EVPN-OVERLAY-PEERS activate
      neighbor IPv4-UNDERLAY-PEERS activate
!
banner motd
######################################
###                                ###
###  NetDevEnv L3LS Network        ###
###     Dual DC with DCI           ###
###                                ###
######################################
EOF

!
management api http-commands
   protocol https
   no shutdown
   !
   vrf MGMT
      no shutdown
!
end
